/vars/readme.txt
.spyproject
/code/__pycache__
/vars/defaults.npz
/freezing/build
/freezing/dist
/vars/versionNumber.npy
/vars/ostype.npy
/vars/rememberedRobot.npy
/vars/rememberedField.npy
/vars/rememberedRedPoints.npy
/vars/rememberedBluePoints.npy
